.side-nav-container{
    width: 250px;
    height: calc(100vh-70px);
    background-color: cadetblue;
    margin-top: 8px;
}
.sidenav-list{
    border: 2px solid cadetblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidenav-list:hover{
    border: 3px solid blue;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

}
.sidenav-image{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.close-icon{
    height: 20px;
    width: 20px;
    margin-top: 10px;
  
}
.contact-container{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    overflow: hidden;
}
.contact-img{
    height: 50px;
    width: 50px;

}
.custom-menu{
    right: 10px!important;
    left: unset!important;
}
.list-container{
    background-color: rgb(0, 151, 76);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
}
.edit-list-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.user-img{
    height: 500px;
    width: 1080px;
}
.user1-img{
    height: 500px;
    width: 1080px;
    
}
.user2-img{
    height: 500px;
    width: 1080px;

}

.footer-container{
    border: 2px solid orchid;
    height: 80px;
    width: 100%;
}